<!DOCTYPE html>
<html>
<head>
    <title>Listado de Empleados</title>
</head>
<body>
    <h1>Listado de Empleados</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <!-- Agrega aquí más columnas para mostrar otros datos del empleado -->
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.id }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <!-- Agrega aquí más columnas para mostrar otros datos del empleado -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
